.pokedex img {
  width: 35%;
}
.pokedex img:hover {
  cursor: pointer;
}

.lists--area {
  margin: auto;
  margin-top: 10px;
  width: 800px;
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
