.search {
    font-family: "Montserrat", "sans-serif";
}
.search--pokename,
.search--types,
.search--button {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.search--pokename {
    background-color: #fff;
    width: 300px;
    height: 35px;
    margin-right: 10px;
}

.search--button {
    width: 200px;
    height: 35px;
    background-color: #23abfd;
    margin-top: 5px;
    color: #fff;
}
