* {
    text-align: center;
    overflow-x: hidden;
}

body {
    background-color: #ef5350;
}


.modal--warning--text {
    color: #fff;
    
}
.modal--warning--button {
    background-color: #23ABFD;
    color: #fff;
    padding: 10px 25px;
}
